In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("spotify_millsongdata.csv.csv")

In [4]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [5]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [6]:
df.shape

(57650, 4)

In [7]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [8]:


df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [9]:
df['text'][0]

"Bloodshot on the panicked eye  \r\nToo gone for resolution  \r\nToo late for the gallant try  \r\nOr to find his own solution  \r\n  \r\nPray save us or to buy the plan, vengeance is my name  \r\nToo deep for a drowning man too deep to call him sane  \r\nIn the farthest place from you  \r\nWhere blood drips through your hands  \r\n  \r\nThe action deafens every word  \r\nThat runs your master plan  \r\n  \r\n[Chorus]  \r\nHigher, go higher  \r\nKnow you've paid for the best  \r\nHigher, go higher  \r\nCan't pay in cash, take a pound of your flesh  \r\n  \r\nTurned out where you're left to die  \r\nTurned into this destruction  \r\nSet free where you only fly  \r\nTo a promised resurrection  \r\n  \r\nPray save me, or to find a way, bathing in my blame  \r\nTapped out but he has to pay, vengeance is my name  \r\nIn the closest place to you  \r\nWhere water fills your hands  \r\n  \r\nYour thirst is gone with every taste  \r\nThat fuels your master plan  \r\n  \r\n[Chorus]  \r\nHigher, go higher  \r\nKnow you've paid for the best  \r\nHigher, go higher  \r\nPay with your love, or a pound of your flesh  \r\n  \r\nDon't know you're fucking with the best  \r\nAll the competition laid to rest  \r\nHumble as you crawl out of the mess  \r\nOne by one I count my pounds of flesh\r\n\r\n"

In [10]:
df = df.sample(5000)

In [11]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [12]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n',' ',regex= True)

In [13]:
df.head(5)

,artist,song,text
1603,Leo Sayer,How Beautiful You Are,from the window of our honeymoon \r the night...
3095,Cake,No Phone,no phone no phone i just want to be alone toda...
2116,Cliff Richard,Clear Blue Skies,i got you \r i got you \r i got you \r i go...
4608,Misfits,Who Killed Marilyn?,"5:25 august fifth, 1962 \r found her lying on..."
3374,Lea Salonga,He's Got To Be Someone,you don't know him \r like i know him \r he ...

In [14]:
import nltk
from nltk.stem.porter import PorterStemmer

In [15]:
stemmer = PorterStemmer()

In [16]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a =[stemmer.stem(w) for w in token]
    return " ".join(a)

In [17]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [18]:
df['text'].apply(lambda x: token(x))

1603    from the window of our honeymoon the night loo...
3095    no phone no phone i just want to be alon today...
2116    i got you i got you i got you i got you and cl...
4608    5:25 august fifth , 1962 found her lie on her ...
3374    you do n't know him like i know him he must be...
                              ...
2451    my one way ride in dead end street lead to vic...
628     i do n't want to leav you on the farm i do n't...
2820    hey babi , listen up i 'm not in love with you...
2072    i see you 're dress to kill i know i ca n't wa...
1472    you 've got the best of both world you 're the...
Name: text, Length: 5000, dtype: object

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [20]:
tfid = TfidfVectorizer(analyzer='word', stop_words='english')

In [21]:
matrix=tfid.fit_transform(df['text'])

In [22]:
similar = cosine_similarity(matrix)

In [23]:
similar[0]

array([1.        , 0.01128097, 0.        , ..., 0.02093945, 0.00369166,
       0.10482737])

In [24]:
# Check if 'Ethiopia' exists in the DataFrame
ethiopia_rows = df[df['song'] == 'Ethiopia']
if ethiopia_rows.empty:
    print("No rows found for 'Ethiopia'.")
else:
    # Get the index of the first row (if it exists)
    idx = ethiopia_rows.index[0]
    print(f"Index for 'Ethiopia': {idx}")

Index for 'Ethiopia': 95

In [25]:
df[df['song']=="Ethiopia"].index[0]

np.int64(95)

Recommender Function

In [26]:
def recommender(song_name):
    idx = df[df['song']==song_name].index[0]
    distance = sorted(list(enumerate(similar[idx])), reverse=True, key = lambda x:x[1])
    song = []
    for s_id in distance[1:5]:
        song.append(df.iloc[s_id[0]].song)
        return song

In [27]:
recommender("Lost And Found")

['Alberta Bound']

In [28]:
def recommender(song_name, top_n=5):
    idx = df[df['song'] == song_name].index[0]
    distance = sorted(list(enumerate(similar[idx])), reverse=True, key=lambda x: x[1])
    recommended_songs = [s_id for s_id, _ in distance[1:top_n+1]]
    return recommended_songs

# Call the recommender function with 'Ethiopia' and get top-5 recommendations
recommended_songs = recommender("Ethiopia", top_n=5)
print(f"Recommended songs: {recommended_songs}")

Recommended songs: [3175, 2312, 3744, 33, 3444]

In [29]:
def recommender(song_name, top_n=5):
    idx = df[df['song'] == song_name].index[0]
    distance = sorted(list(enumerate(similar[idx])), reverse=True, key=lambda x: x[1])
    recommended_songs = [df.iloc[s_id]['song'] for s_id, _ in distance[1:top_n+1]]
    return recommended_songs

# Call the recommender function with 'Ethiopia' and get top-5 recommended song names
recommended_songs = recommender("Ethiopia", top_n=5)
recommended_songs

['Read My Mind', 'Over And Out', 'Miss America', 'I Got Money Now', 'Friend']

In [30]:
recommender("Lost And Found")

['Alberta Bound',
 'Desert Island',
 'From A Buick 6',
 'Look To You',
 'Found Found Found']

In [31]:
import pickle

In [32]:
pickle.dump(similar, open("similarity", "wb"))

In [33]:
pickle.dump(df, open("df", "wb"))

In [37]:
pickle.dump(similar, open("similarity", "wb"))

In [38]:
# Save 'similar' data as 'similarity.pkl'
with open('similarity.pkl', 'wb') as sim_file:
    pickle.dump(similar, sim_file)